body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#fileSelector {
    text-align: center;
    padding: 30px;
    width: 500px;
    border: 4px dashed #000;
}


#file {
    display: none;
}

.btn {
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;

}
.btn:hover {
    background-color: #dddddd;
    border: 1px solid #000;
    padding: 10px;
}
.btn:active {
    background-color: #aeaeae;
    border: 1px solid #000;
    padding: 10px;
}

#loading {
    display: none;
}

@media screen and (max-width: 480px) {
#fileSelector {
    text-align: center;
    padding: 30px;
    width: 250px;
    border: 4px dashed #000;
    font-size: 20px;
}
.btn {
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
}

}